.board {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.board-cards {
  flex:1;
  margin-right: 8vw;
}

.board-row {
  display: flex;
  justify-content: space-between;
}

#card, #card:focus, #card:hover {
  width: 13vw;
  height: 10vh;
  border-width: 0;
}

.key-map-row {
  display: flex;
  justify-content: flex-start;
}

.key-map-square {
  height: 3vw;
  width: 3vw;
  background-color: grey;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  align-items: center;
  justify-content: center;
  display: flex;
}

.black {
  background-color: black !important;
}

.green {
  background-color: green !important;
}

.beige {
  background-color: #BCA78B !important;
}

.grey {
  background-color: grey;
}

.round-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  margin: 0;
  padding: 0;
}

.game-end-block {
  display: flex;
}

.game-end-block > button {
  margin-left: 10vw;
}