<div id="root">
  <h1>Bienvenue dans CodeName Duo !</h1>

  <h2>Entre ton pseudo</h2>
    <form phx-submit="player-nickname-choice">
      <input type="text" name="player_nickname" value="<%= @player_nickname %>"
              placeholder="Bigbossdu91"
              autofocus autocomplete="off" />

      <button type="submit">
        Valider
      </button>
    </form>
</div>
