<h2>Créer une nouvelle partie</h2>
<button phx-click="create-room">Créer une nouvelle partie</button>

<h2>Rejoindre une partie existante</h2>

<form phx-submit="room-choice">
  <input type="text" name="room_id" value="<%= @room_id %>"
          placeholder="Entrer le numéro de la partie"
          autofocus autocomplete="off" />

  <button type="submit">
    Valider
  </button>
</form>
