<h1>Salle d'attente</h1>

<p>Donne le numéro de la partie à tes coéquipiers : <%= @room_id %></p>

<h3>Joueurs présents dans la partie :</h3>

<ul>
<%= for player_nickname <- @all_players do %>
  <li><%= player_nickname %></li>
<% end %>
</ul>

<br/>
<br/>
<button phx-click="start-game">Démarrer le jeu</button>
