<h1>Waiting room</h1>

<p>Share this token with your friend so he can join the game: <%= @room_id %></p>

<h3>Players present in the room:</h3>

<ul>
<%= for player_nickname <- @all_players do %>
  <li><%= player_nickname %></li>
<% end %>
</ul>

<br/>
<br/>
<button phx-click="start-game">Start the game</button>
